body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.delete-button {
  color: white;
  cursor:pointer;
  font-weight: bolder;
  font-size: 1.2em;
  position:absolute;
  right: 7px;
  top: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  padding: 10px;
  width: 59%;
}

.flash-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(160deg, #26a1ed 0%, #026292 100%);
  border: 1px solid #282828;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s;
}

.flash-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  font-size: 1.5em;
  color: white;
  height: 100%;
  width: 100%;
}

.shuffle {
  margin: 1rem;
  color: white;
  background-image: linear-gradient(160deg, #e75a71 0%, #c7233f 100%);
}

input {
  margin: auto;
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid #707070;
  border-radius: 0.5rem;
}

form {
  margin: 0 1rem;
  padding: 3rem;
  display: grid;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #707070;
  gap: 2rem;
  float: left;
  width: 15rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
